<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
       <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'tinker/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'tinker/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'tinker/css/fontAwesome.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'tinker/css/hero-slider.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'tinker/css/owl-carousel.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'tinker/css/templatemo-style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'tinker/css/lightbox.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'tinker/css/detailsPage.css' %}" />

        <script src="{% static "tinker/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}" ></script>
</head>

    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'FileSaverApp:index' %}"  class="navbar-brand scroll-top"><em>T</em>hesis</a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'FileSaverApp:index' %}"  class="scroll-top">Home</a></li>
                        <li><a href="#" class="scroll-link" data-id="about">About Us</a></li>
                        <li><a href="#" class="scroll-link" data-id="portfolio">Portfolio</a></li>
                        <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li>
                        <li><a href="#" class="scroll-link" data-id="contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->


    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="text-content">
                <h2>Document <span>Image</span> <em>Classification</em></h2>

                <div class="document-list">
                    {% if documents_list %}
                        <ul>
                        {% for doc in documents_list %}
                            <a class ="document-list" href="{% url 'FileSaverApp:detail' doc.id %}">{{ doc.document_name }}</a>
                        {% endfor %}
                        </ul>
                    {% else %}
                        No documents available.
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


<body>


</body>
</html>
